<ex-progressbar value="3" max="10">
	<div>
		<input id="value" type="number" tl-controlled tl-trigger="input" />
		<input id="max" type="number" tl-controlled tl-attrmap="value:max" tl-trigger="input" />
	</div>
	<progress value="${'value'}" max="${'max'}"></progress>
	<div>${'warning'}</div>
	<script tl-effect tl-dependencies="value max">
		const value = parseInt(this.getAttribute('value'));
		const max = parseInt(this.getAttribute('max'));
		if (value > max) {
			this.setAttribute('warning', `WARNING: ${value} is greater than ${max}`);
		} else {
			this.removeAttribute('warning');
		}
	</script>
</ex-progressbar>
