<ex-todoitem>
	<style>
		label {
			display: block;
		}
	</style>
	<label>
		<input type="checkbox" tl-controlled tl-attrmap="checked:checked" />
		<slot></slot>
	</label>
	<e-emitter tl-emitter tl-dependencies="checked" tl-eventname="todoitem-checked"></e-emitter>
	<script tl-effect>
		this.addEventListener('select-all-updated', (event) => {
			if (event.detail.originalElement.hasAttribute('select-all')) {
				// select this element
				this.setAttribute('checked', '');
			}
			if (!event.detail.originalElement.hasAttribute('select-all')) {
				// uncheck this element
				this.removeAttribute('checked');
			}
		});
	</script>
</ex-todoitem>

<ex-todolist completed="0" total="0">
	<style>
		todo-section {
			padding-inline-start: 5px;
			margex-block-start: 5px;
		}
		label {
			display: block;
		}
	</style>
	<span>To Do List (${'completed'}/${'total'})</span>
	<form>
		<input name="input" placeholder="New Item" autofill="false" />
	</form>
	<todo-section>
		<label>
			<input type="checkbox" tl-controlled tl-hostattr="select-all" tl-targetattr="checked" />
			Select All
		</label>
		<hr />
	</todo-section>
	<e-emitter
		tl-emitter
		tl-dependencies="select-all"
		tl-eventname="select-all-updated"
		tl-eventdirection="down"
	></e-emitter>
	<script tl-effect>
		/* set up functions for this component */

		this.updateTotals = () => {
			const totalChecked = this.shadowRoot.querySelectorAll('[checked]').length;
			this.setAttribute('completed', totalChecked);
			const totalItems = this.shadowRoot.querySelectorAll('ex-todoitem').length;
			this.setAttribute('total', totalItems);

			/* update the select all control */
			if (totalChecked === totalItems) {
				// if we have all selected, make the checkbox checked
				this.shadowRoot.querySelector('input[type="checkbox"]').indeterminate = false;
				this.shadowRoot.querySelector('input[type="checkbox"]').checked = true;
			} else if (totalChecked > 0) {
				// if we have some selected, but not all, make the checkbox indeterminate
				this.shadowRoot.querySelector('input[type="checkbox"]').indeterminate = true;
			} else if (totalChecked === 0) {
				// if we have none selected, uncheck the checkbox
				this.shadowRoot.querySelector('input[type="checkbox"]').indeterminate = false;
				this.shadowRoot.querySelector('input[type="checkbox"]').checked = false;
			}
		};

		this.addNewTodoItem = (todoText) => {
			const list = this.shadowRoot.querySelector('todo-section');
			const newItem = this.ownerDocument.createElement('ex-todoitem');
			newItem.innerText = todoText;
			list.appendChild(newItem);
			this.updateTotals();
		};

		this.submitNewTodoItem = (event) => {
			event.preventDefault();
			this.addNewTodoItem(event.target.input.value);
			event.target.reset();
		};
	</script>
	<script tl-effect>
		/* create an initial 2 todo items */
		this.addNewTodoItem('Example Initial Item');
		this.addNewTodoItem('Learning Tram-Lite');
	</script>
	<script tl-effect>
		/* initial event listeners */
		this.shadowRoot.querySelector('form').addEventListener('submit', this.submitNewTodoItem);

		this.addEventListener('todoitem-checked', () => {
			this.updateTotals();
		});
	</script>
</ex-todolist>
