<ex-todoitem>
	<style>
		label {
			display: block;
		}
	</style>
	<label>
		<input type="checkbox" tl-controlled tl-attrmap="checked:checked" />
		<slot></slot>
	</label>
	<tl-broadcast tl-dependencies="checked" tl-eventname="todoitem-checked"></tl-broadcast>
	<script tl-effect>
		this.addEventListener('select-all-updated', (event) => {
			const all_checked = event.detail.originalElement.hasAttribute('all_checked');
			const all_indeterminate = event.detail.originalElement.hasAttribute('all_indeterminate');
			if (all_checked) {
				this.setAttribute('checked', '');
			} else if (!all_checked && !all_indeterminate) {
				this.removeAttribute('checked');
			}
		});
	</script>
</ex-todoitem>

<ex-todolist completed="0" total="0">
	<style>
		todo-section {
			padding-inline-start: 5px;
			margex-block-start: 5px;
		}
		label {
			display: block;
		}
	</style>
	<span>To Do List (${'completed'}/${'total'})</span>
	<form>
		<input name="input" placeholder="New Item" autofill="false" />
	</form>
	<todo-section>
		<label>
			<input
				id="select-all"
				type="checkbox"
				tl-controlled
				tl-attrmap="checked:all_checked indeterminate:all_indeterminate"
			/>
			Select All
		</label>
		<hr />
	</todo-section>
	<tl-broadcast
		tl-dependencies="all_checked all_indeterminate"
		tl-eventname="select-all-updated"
		tl-direction="down"
	></tl-broadcast>
	<script tl-effect>
		/* set up functions for this component */

		this.updateTotals = () => {
			const totalChecked = this.shadowRoot.querySelectorAll('[checked]').length;
			this.setAttribute('completed', totalChecked);
			const totalItems = this.shadowRoot.querySelectorAll('ex-todoitem').length;
			this.setAttribute('total', totalItems);

			/* update the select all control */
			if (totalChecked === totalItems) {
				// if we have all selected, make the checkbox checked
				this.removeAttribute('all_indeterminate');
				this.setAttribute('all_checked', '');
			} else if (totalChecked > 0) {
				// if we have some selected, but not all, make the checkbox indeterminate
				this.setAttribute('all_indeterminate', '');
			} else if (totalChecked === 0) {
				// if we have none selected, uncheck the checkbox
				this.removeAttribute('all_indeterminate');
				this.removeAttribute('all_checked');
			}
		};

		this.addNewTodoItem = (todoText) => {
			const list = this.shadowRoot.querySelector('todo-section');
			const newItem = this.ownerDocument.createElement('ex-todoitem');
			newItem.innerText = todoText;
			list.appendChild(newItem);
			this.updateTotals();
		};

		this.submitNewTodoItem = (event) => {
			event.preventDefault();
			this.addNewTodoItem(event.target.input.value);
			event.target.reset();
		};
	</script>
	<script tl-effect>
		/* create an initial 2 todo items */
		this.addNewTodoItem('Example Initial Item');
		this.addNewTodoItem('Learning Tram-Lite');
	</script>
	<script tl-effect>
		/* initial event listeners */
		this.shadowRoot.querySelector('form').addEventListener('submit', this.submitNewTodoItem);

		this.addEventListener('todoitem-checked', () => {
			this.updateTotals();
		});
	</script>
</ex-todolist>
