/* font */
body {
	font-family: 'Poppins', sans-serif;
}

pre,
code {
	font-family: 'Ubuntu Mono', monospace;
}

/* grid styles */
body {
	--nav-height: 4rem; /* 2rem + 1rem margin on top and bottom */
	--title-height: 4.5rem; /* 3.5rem + 1rem bottom margin */

	margin: auto 0;
	height: 100vh;
	display: grid;
	grid-template-columns: 0.8fr 250px var(--size-content-3) 1fr;
	grid-template-rows: var(--nav-height) var(--title-height) 1fr;
	grid-template-areas:
		'. logo     top-nav      .'
		'. logo     main-content main-content'
		'. side-nav main-content main-content';
}

@media only screen and (max-width: 800px) {
	body {
		margin: 0 1rem;
		height: unset;
		grid-template-columns: 64px 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			'logo         top-nav'
			'main-content main-content'
			'side-nav     side-nav';
	}
}

main {
	grid-area: main-content;
	overflow-y: auto;
	overflow-x: hidden;
	margin-right: 1rem;
}

#logo {
	grid-area: logo;
}
#logo img {
	width: 215px;
	height: 170px;
}

@media only screen and (max-width: 800px) {
	#logo img {
		width: 100%;
		height: inherit;
	}
}

top-nav {
	grid-area: top-nav;
	max-inline-size: var(--size-content-3);
}

side-nav {
	grid-area: side-nav;
	margin-top: 2rem;
}

@media only screen and (max-width: 800px) {
	side-nav {
		margin-top: 1rem;
		padding-top: 1rem;
		border-top: solid 1px var(--text-2);
	}
}

/* temp block styling */
side-nav a,
side-nav-section a {
	display: block;
}

/* navigation items */
side-nav {
	display: block;
	margin-left: 1rem;
	margin-right: 1rem;
}
side-nav > side-nav-section {
	display: block;
	margin-left: 1rem;
}
top-nav {
	display: flex;
	margin: 1rem;
	justify-content: center;
}
top-nav > a {
	margin: 0rem 1rem;
}

/* internal link styling */
a[href^='#'] {
	color: var(--text-2);
}

/* external link styling */
a[href^='http'] {
	color: var(--text-2);
	text-decoration: underline;
}

/* don't color the background for nav links */
a code {
	background-color: inherit;
}

/* margin inbetween content */
h1,
h2,
h3,
p,
pre {
	margin-bottom: 1rem;
}

p + h2,
p + h3 {
	margin-top: 2.5rem;
}

p + h4 {
	margin-top: 1.5rem;
}

dd {
	margin-left: 1rem;
}

pre {
	/* copy code styling for pre tags */
	background: var(--surface-2);
	border-radius: var(--radius-2);
	padding: var(--size-1) var(--size-2);
	writing-mode: lr;

	/* set tab-size to 2 spaces */
	tab-size: 2;
}

/* set element width */
pre {
	max-inline-size: unset;
	width: calc(var(--size-content-3) + 3rem);
	margin-left: 1rem;
}
top-nav,
dd {
	max-inline-size: var(--size-content-3);
}

/* page navigation */
page {
	display: none;
}
page:target {
	display: inherit;
}

/* when the page has no target, display the #about page */
html:not(:has(:target)) * page#about {
	display: inherit;
}

/* color headers, code, and the active tab */
:root {
	--accent-color: #9a9114;
}
@media (prefers-color-scheme: dark) {
	:root {
		--accent-color: #faf497;
	}
}

h1,
h2,
h3,
p code,
tag-code {
	color: var(--accent-color);
}
